@import "@/scss/import.scss";

.vui-dropdown {
    position: relative;
    display: inline-block;

    .ui-dropdown-placeholder {
        @include animate-hover('ui-dropdown-placeholder');
        @include vui-box-shadow;
        padding: .5rem .5rem .5rem 1rem;
        cursor: pointer;

        .ui-dropdown-placeholder-label {
        }

        &:before {
            @include vui-glyph-solid;
            content: '\f0dd';
            float: right;
            margin: -.25rem .5rem 0 .5rem;
            color: $vui-color-grey;
        }
    }

    .vui-list.ui-dropdown-list {
        position: absolute;
        top: 2.2rem;
        left: 0;
        right: 0;
        background-color: $vui-color-white;

        .vui-list-items {
            .vui-list-items-item {
                cursor: pointer;
            }
        }
    }
}
