@import "@/scss/import.scss";

.view-start {

    h1 {
        font-size: 2rem;
        text-transform: none;
    }

    .vui-list {
        .vui-list-items {
            .vui-list-items-group-item {
                .vui-list-items-item-group-label {
                    font-weight: bold;
                    text-transform: uppercase;
                }

                .vui-list-items-item-label {
                    a {
                        color: darken($vui-color-green, 10%);
                    }
                }
            }
        }
    }
}
