@import "@/scss/import.scss";

.vui-toggle {
    position: relative;
    display: inline-flex;
    width: 4.5rem;
    height: 1.45rem;

    .vui-toggle-slider {
        position: absolute;
        bottom: -.75rem;
        width: 100%;
        padding: .25rem .5rem;
        background-color: $vui-color-grey;
        border-radius: 2.1rem;
        transition: .4s;
        cursor: pointer;

        .vui-toggle-slider-button {
            width: 1.65rem;
            height: 1.65rem;
            background-color: $vui-color-white;
            border-radius: 50%;
            transition: .4s;
        }
    }

    &.vui-toggle--checked {
        .vui-toggle-slider {
            background-color: $vui-color-green;

            .vui-toggle-slider-button {
                -webkit-transform: translateX(1.65rem);
                -ms-transform: translateX(1.65rem);
                transform: translateX(1.65rem);
            }
        }
    }
}
