@import "@/scss/import.scss";

.view-component {
    > h1 {
        position: relative;
        padding-left: 2.5rem;

        i {
            position: absolute;
            top: .9rem;
            left: .5rem;
            color: $vui-color-green;
            font-size: 1.5rem;
            font-weight: 900;
        }

        .view-component-name {
            font-size: 1.15rem;
            font-weight: 600;
        }
    }

    .vui-grid {
        .vui-grid-unit.examples {
        }

        .vui-grid-unit.api-options {

            .vui-table {
                width: 100%;
            }

            h2 {
                &:not(:first-of-type) {
                    margin-top: 2rem;
                }
            }
        }
    }

    .highlighted-code {
        margin: .5rem 0 2rem 0;
        white-space: pre-wrap;
        font-size: .85rem;
        background-color: lighten($vui-color-grey-light, 10%);
        border: 1px solid $vui-color-grey;
        border-radius: .25rem;

        .hljs-attr,
        .hljs-name,
        .hljs-tag,
        .hljs-string {
            font-size: .85rem;
        }
    }
}
