@import "@/scss/import.scss";

.view-input {
    .vui-card {
        .vui-card-body {
            display: flex;
            flex-flow: row;
            flex-wrap: wrap;
            justify-content: space-between;

            .vui-input {
                flex: 0 0 49%;
            }
        }
    }
}
