@import "@/scss/import.scss";

.view-input {
    .vui-card {
        margin-bottom: 2rem;

        .vui-card-body {
            display: flex;
            flex-flow: row;
            flex-wrap: wrap;
            justify-content: space-between;

            .vui-tag {
                flex: 0 0 48%;
                padding-right: 1rem;
                white-space: nowrap;
                overflow: hidden;
            }

            .vui-input {
                flex: 0 0 50%;
            }

            .highlighted-code {
                flex: 0 0 100%;
            }
        }
    }
}
