@import "@/scss/import.scss";

.vui-nav {
    display: inline-flex;

    &.vui-nav--flat {
        .vui-list.vui-nav-list {
            box-shadow: none;

            .vui-list-items {

                .vui-list-items-item {

                    &:first-of-type {
                        padding-left: 0;
                    }


                    .vui-list-items-item-label {

                        &:hover {
                            background-color: transparent;
                        }

                        .vui-list-items-item-label-text {
                        }
                    }
                }
            }
        }
    }

    .vui-list.vui-nav-list {

        .vui-list-items {
            display: flex;

            .vui-list-items-item {
                padding-left: .5rem;
                cursor: pointer;

                .vui-list-items-item-label {
                    padding: .75rem 0;
                    border: none;

                    i.fa-solid {
                        padding-right: .5rem;
                        color: $vui-color-grey;
                    }

                    &.vui-list-items-item-label--selected {
                        color: $vui-color-green;
                        background-color: inherit;

                        i.fa-solid {
                            color: inherit;
                        }

                        .vui-list-items-item-label-text {
                            color: inherit;
                        }
                    }
                }

                &:last-of-type {
                    padding-right: 1rem;
                }
            }
        }
    }
}
