@import "./../../scss/import.scss";

.v-cols {
    @include v-component-1;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    &[cols="2"] {
        > [class*="v-"] {
            flex: 0 0 50%;
        }
    }
    &[cols="3"] {
        > [class*="v-"] {
            flex: 0 0 33%;
        }
    }
    &[cols="4"]{
        > [class*="v-"] {
            flex: 0 0 25%;
        }
    }
    &[cols="5"] {
        > [class*="v-"] {
            flex: 0 0 20%;
        }
    }
    &[cols="6"] {
        > [class*="v-"] {
            flex: 0 0 16.66%;
        }
    }
    &[cols="7"] {
        > [class*="v-"] {
            flex: 0 0 14.28%;
        }
    }
    &[cols="8"] {
        > [class*="v-"] {
            flex: 0 0 12.5%;
        }
    }
    &[cols="9"] {
        > [class*="v-"] {
            flex: 0 0 11.11%;
        }
    }
    &[cols="10"] {
        > [class*="v-"] {
            flex: 0 0 10%;
        }
    }
}
