@import "@/scss/import.scss";

.vui-list {
    display: inline-block;
    width: auto;
    padding: 1rem 0;
    border-radius: .25rem;
    @include vui-box-shadow;

    .vui-list-title {
        padding: 0 1rem 1rem 1rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    .vui-list-items {

        .vui-list-items-item {
            padding: .75rem 1rem .75rem .75rem;

            .vui-list-items-item-label {
                padding: 0 .5rem;
            }

            &:before {
                @include vui-glyph-solid;
                color: $vui-color-grey-light;
                content: '\f111';
            }

            &:hover {
                background-color: $vui-color-grey-light;

                &:before {
                    color: $vui-color-grey;
                }
            }

            &.vui-list-items-item--active {
                background-color: $vui-color-green;
            }
        }
    }
}
