@import "@/scss/import.scss";

.vui-form {
    border: 1px solid $vui-color-grey;
    border-radius: .25rem;

    section {
        border-bottom: 1px solid $vui-color-grey;

        fieldset {
            padding: 1rem;
            border: none;

            .fieldset-item {
                display: flex;

                label {
                    flex: 0 0 50%;
                    line-height: 2rem;
                }

                .input {
                    flex: 0 0 50%;

                    input {
                        width: 100%;
                    }
                }
            }
        }

        &.section--submit {
            text-align: center;
            border-bottom: none;
        }
    }
}
