@import "@/scss/import.scss";

.vui-tooltip {
    max-width: 300px;;
    display: none;
    padding: .5rem .5rem;
    font-size: .9rem;
    color: $vui-color-grey-extra-light;
    background-color: $vui-color-blue;
    border-radius: .25rem;
    @include vui-box-shadow($vui-color-blue-dark);

    &.vui-tooltip--with-icon {
        padding-left: 2.5rem;
    }

    .vui-tooltip-icon {
        position: absolute;
        top: .5rem;
        left: .75rem;
        font-size: 1.1rem;
        margin-right: .75rem;
        color: $vui-color-grey-dark;

        &:before {
            color: $vui-color-grey-extra-light;
        }
    }

    .vui-tooltip-pointer {
        &:before {
            @include vui-glyph-solid;
            position: absolute;
            font-size: 1.1rem;
            color: $vui-color-blue;
        }

        &.vui-tooltip-pointer--bottom:before {
            top: -.65rem;
            left: calc(50% - 1rem);
            content: '\f0d8';
        }

        &.vui-tooltip-pointer--left:before {
            top: 40%;
            left: 100%;
            content: '\f0da';
        }

        &.vui-tooltip-pointer--top:before {
            top: 95%;
            left: calc(50% - 1rem);
            content: '\f0d7';
        }

        &.vui-tooltip-pointer--right:before {
            top: 40%;
            left: -.5rem;
            content: '\f0d9';
        }
    }
}
