@import "@/scss/import.scss";

.vui-button {
    @include animate('vui-button');
    @include vui-box-shadow;
    display: inline-flex;
    padding: .5rem 1rem;
    cursor: pointer;

    .vui-button-icon {
        margin-right: .75rem;
    }
}
