@import "@/scss/import.scss";

.vui-button {
    @include vui-box-shadow;
    @include compose('vui-button');
    @include animate('vui-button');
    position: relative;
    display: inline-flex;
    padding: 0 1rem;
    justify-content: center;
    border-radius: .5rem;
    cursor: pointer;

    &.vui-button--with-icon {
        padding-left: 2.5rem;
    }

    .vui-button-holder {
        position: relative;
        margin-top: .15rem;
        font-size: .85rem;
        font-weight: 600;
        line-height: 2rem;
        color: inherit;
        background-color: transparent;
        text-transform: uppercase;
        border: none;
        cursor: pointer;

        .vui-button-icon {
            position: absolute;
            top: .45rem;
            left: -1.5rem;
            font-size: 1rem;
            margin-right: .75rem;
            color: $vui-color-grey-dark;
        }
    }

    &.vui-button--disabled {
        color: $vui-color-grey-dark;
        background-color: $vui-color-grey;
        border: 1px solid $vui-color-grey-dark;
        cursor: default;

        button {
            color: inherit;
            cursor: default;

            .vui-button-icon {
                color: inherit;
            }
        }
    }
}
