@import "@/scss/import.scss";

.vui-button {
    @include vui-box-shadow;
    @include animate('vui-button');
    position: relative;
    display: inline-flex;
    padding: .5rem 1rem .5rem 1rem;
    justify-content: center;
    color: $vui-color-grey-dark;
    border-radius: .5rem;
    cursor: pointer;

    &.vui-button--with-icon {
        padding-left: 3rem;
    }

    .vui-button-holder {
        position: relative;
        padding-top: .07rem;
        line-height: 1rem;
        background-color: transparent;
        font-size: .85rem;
        font-weight: 600;
        color: $vui-color-grey-dark;
        text-transform: uppercase;
        cursor: pointer;

        .vui-button-icon {
            position: absolute;
            top: -.15;
            left: -2rem;
            font-size: 1.1rem;
            margin-right: .75rem;
            color: $vui-color-grey-dark;
        }
    }

    .vui-button-loader {
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 30%;
        height: 2px;
        background-color: transparent;
    }

    &:hover {
        button {
            color: $vui-color-grey-extra-dark;

            .vui-button-icon {
                color: $vui-color-grey-extra-dark;
            }
        }
    }

    &.vui-button--loading {
        .vui-button-loader {
            animation: linear infinite;
            animation-name: loading;
            animation-duration: .8s;
            background-color: $vui-color-grey-extra-dark;
        }
    }

    &.vui-button--toggled {
        button {
            color: $vui-color-grey-extra-dark;

            .vui-button-icon {
                color: $vui-color-grey-extra-dark;
            }
        }
    }

    &.vui-button--disabled {
        background-color: $vui-color-grey;
        border: 1px solid $vui-color-grey-dark;
        cursor: default;

        button {
            color: $vui-color-grey-extra-dark;

            .vui-button-icon {
                color: $vui-color-grey-extra-dark;
            }
        }
    }
}
