@import "@/scss/import.scss";

.vui-progress {
    .vui-progress-bar {
        width: 100%;
        height: 1rem;
        background-color: $vui-color-grey;
        border: 1px solid $vui-color-grey-dark;
        border-radius: .25rem;

        .vui-progress-bar-cursor {
            height: .9rem;
            background-color: $vui-color-green;
        }
    }
}
