@import "@/scss/import.scss";

.vui-input {
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        padding: .25rem;
        color: $vui-color-black;
        border: 1px solid $vui-color-grey;
        border-radius: .25rem;
    }
}
