@keyframes loading {
    0% {
      left: 0;
      opacity: 1;
    }
    50% {
        left: 70%;
        opacity: 0;
    }
    100% {
      left: 0;
      opacity: 1;
    }
}

@mixin animate($class) {
    background-color: $vui-color-grey-extra-light;
    background-repeat: no-repeat;
    background-size: 0 0;
    background-position: 50% 50%;
    transition: background-size .125s, color .125s;

    .#{$class}-loader {
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 30%;
        height: 2px;
        background-color: transparent;
    }

    &:hover {
        background-color: $vui-color-grey-light;
    }

    &.#{$class}--toggled {
        background-color: $vui-color-grey-light;
    }

    &.#{$class}--animating {
        background-size: 100% 100%;
        background-image: linear-gradient(
            $vui-color-grey-extra-light,
            $vui-color-grey-extra-light
        );
    }

    &.#{$class}--loading {
        .#{$class}-loader {
            animation: linear infinite;
            animation-name: loading;
            animation-duration: .8s;
            background-color: $vui-color-grey-extra-dark;
        }
    }

    &.#{$class}--error {
        &:hover {
            background-color: lighten($vui-color-red, 30%);
        }
        &.#{$class}--toggled {
            background-color: lighten($vui-color-red, 30%);
        }
        &.#{$class}--animating {
            background-image: linear-gradient(
                lighten($vui-color-red, 20%),
                lighten($vui-color-red, 20%),
            );
        }
    }

    &.#{$class}--success {
        &:hover {
            background-color: lighten($vui-color-green, 30%);
        }
        &.#{$class}--toggled {
            background-color: lighten($vui-color-green, 30%);
        }
        &.#{$class}--animating {
            background-image: linear-gradient(
                lighten($vui-color-green, 20%),
                lighten($vui-color-green, 20%),
            );
        }
    }

    &.#{$class}--warning {
        &:hover {
            background-color: lighten($vui-color-orange, 30%);
        }
        &.#{$class}--toggled {
            background-color: lighten($vui-color-orange, 30%);
        }
        &.#{$class}--animating {
            background-image: linear-gradient(
                lighten($vui-color-orange, 20%),
                lighten($vui-color-orange, 20%),
            );
        }
    }
}
