@keyframes loading {
    0% {
      left: 0;
      opacity: 1;
    }
    50% {
        left: 70%;
        opacity: 0;
    }
    100% {
      left: 0;
      opacity: 1;
    }
}

@mixin animate($class) {
    background-color: $vui-color-grey-extra-light;
    background-repeat: no-repeat;
    background-size: 0 0;
    background-position: 50% 50%;
    transition: background-size .125s, color .125s;
    border: 1px solid transparent;
    border-radius: .25rem;

    &:hover {
        background-color: $vui-color-grey-light;
    }

    &.#{$class}--toggled {
        background-color: $vui-color-grey-light;
    }

    &.#{$class}--animating {
        background-size: 100% 100%;
        background-image: linear-gradient(
            $vui-color-grey-extra-light,
            $vui-color-grey-extra-light
        );
    }
}
