
$vui-color-black: rgb(0, 0, 0, 1);
$vui-color-blue: rgba(41, 128, 185, 1);
$vui-color-green: rgba(39, 174, 96, 1);
$vui-color-grey: rgba(137, 151, 155, 1);
$vui-color-white: rgba(255, 255, 255, 1);

$vui-color-grey-light: lighten($vui-color-grey, 35%);
$vui-color-grey-extra-light: lighten($vui-color-grey-light, 3%);
