
$vui-color-black: rgb(0, 0, 0, 1);
$vui-color-orange: rgba(243, 156, 18, 1);
$vui-color-white: rgba(255, 255, 255, 1);

$vui-color-green: rgba(39, 174, 96, 1);
$vui-color-green-light: lighten($vui-color-green, 20%);
$vui-color-green-dark: darken($vui-color-green, 20%);

$vui-color-blue: rgba(64, 115, 158,1.0);
$vui-color-blue-dark: darken($vui-color-blue, 10%);

$vui-color-blue-light: lighten($vui-color-blue, 40%);
$vui-color-blue-extra-light: lighten($vui-color-blue-light, 10%);

$vui-color-grey-light: rgb(238, 238, 238);
$vui-color-grey: darken($vui-color-grey-light, 10%);
$vui-color-grey-extra-light: lighten($vui-color-grey-light, 10%);
