@mixin compose-input($class) {
    &.#{$class}--default {

        input::placeholder {
            color: $vui-color-grey;
        }

        .#{$class}-icon {
            &:before {
                color: $vui-color-black;
            }
        }
    }

    &.#{$class}--error {
        border-color: darken( $vui-color-red, 20%);

        input::placeholder {
            color: $vui-color-red;
        }

        .#{$class}-icon {
            &:before {
                color: darken( $vui-color-red, 20%);
            }
        }

        .#{$class}-label {
            color: $vui-color-red;
        }
    }

    &.#{$class}--success {
        border-color: darken( $vui-color-green, 20%);

        input::placeholder {
            color: $vui-color-green;
        }

        .#{$class}-icon {
            &:before {
                color: darken( $vui-color-green, 20%);
            }
        }

        .#{$class}-label {
            color: darken( $vui-color-green, 20%);
        }
    }

    &.#{$class}--warning {
        border-color: darken( $vui-color-orange, 20%);

        input::placeholder {
            color: $vui-color-orange;
        }

        .#{$class}-icon {
            &:before {
                color: darken( $vui-color-orange, 20%);
            }
        }

        .#{$class}-label {
            color: darken( $vui-color-orange, 20%);
        }
    }

    &.#{$class}--disabled {
        border-color: darken($vui-color-grey-light, 25%);
        cursor: not-allowed;

        input::placeholder {
            color: $vui-color-black;
        }

        .#{$class}-icon {
            &:before {
                color: darken($vui-color-grey-light, 25%);
            }
        }
    }
}
