@import "@/scss/import.scss";

.vui-table {
    table {
        border-collapse: collapse;

        thead {
            tr {
                background-color: $vui-color-grey-light;

                th {
                    padding: .5rem;
                    border: 1px solid $vui-color-grey;
                }
            }
        }
        tbody {
            tr {
                td  {
                    padding: .5rem;
                    border: 1px solid $vui-color-grey;
                }
            }
        }
    }
}
@media (max-width: 550px) {
    .vui-table {

        table {
            thead {
                display: none;
            }

            tr {
                display: block;
                margin-bottom: 1rem;
            }

            td {
                display: block;
                text-align: right;
            }

            td::before {
                content: attr(data-label);
                float: left;
            }
        }
    }
}
