@import "@/scss/import.scss";

.view-index {
    text-align: center;

    h1 {
        font-size: 2rem;
        text-transform: none;
    }

    .fa-brands.fa-vuejs {
        display: block;
        font-size: 15rem;
        line-height: 15rem;
        color: $vui-color-green;
    }

    .vui-button {
        margin: 0 auto;
    }
}
