@import "@/scss/import.scss";

.view-index {
    text-align: center;

    h1 {
        font-size: 2rem;
        text-transform: none;
    }

    .fa-brands.fa-vuejs {
        display: block;
        font-size: 15rem;
        color: $vui-color-green;
    }

    .description {
        p {
            max-width: 400px;
            margin: 0 auto;
            font-size: 1.1rem;
            line-height: 1.2rem;
        }
    }

    .vui-button {
        margin: 1rem;

        &.vui-button--get-started {

        }

        &.vui-button--github {
            background-color: $vui-color-black;

            .vui-button-holder,
            .vui-button-icon {
                color: $vui-color-grey-light;
            }

            &:hover {
                background-color: lighten($vui-color-black, 30%);
            }
        }
    }
}
