@import "@/scss/import.scss";

.view-dropdown {
    .vui-grid {
        .vui-unit.examples {
            .vui-card {
                margin-bottom: 2rem;

                .vui-card-body {
                    display: flex;
                    flex-flow: column;
                }
            }
        }

        .vui-unit.api-options {
            .vui-card {
            }

            h2 {
                text-align: center;
            }
        }
    }
}
