@import "./../../scss/import.scss";

.v-page {
    @include v-component-1;
    min-height: calc(100vh - ($padding-page * 2));
    margin: $margin-page;
    padding: $padding-page;
    background-color: $color-white-1;
    border: 1px solid rgba($color-grey-1, .5);
    box-shadow: $color-grey-1 0 1px 2px;
}
