@import "@/scss/import.scss";

.vui-page {
    display: flex;
    flex-flow: column;
    min-height: calc(100vh - 2rem);
    background-color: $vui-color-white;
    border-radius: .25rem;
    @include vui-box-shadow;

    .vui-page-header {
    }

    .vui-page-body {
        flex: 1 1 auto;
        padding: 2rem 1rem;
    }

    .vui-page-footer {

    }
}
