@import "@/scss/import.scss";

.vui-card {
    background-color: $vui-color-white;
    border: 1px solid $vui-color-grey-light;
    border-radius: .25rem;

    .vui-card-header {
        padding: .5rem 1rem;
        background-color: $vui-color-grey-extra-light;
        border-bottom: 1px solid $vui-color-grey-light;
    }

    .vui-card-body {
        padding: 1rem;
    }

    .vui-card-fotter {
        padding: .5rem 1rem;
        background-color: $vui-color-grey-extra-light;
        border-top: 1px solid $vui-color-grey-light;
    }
}
