@import "./mixin/var.scss";
@import "./mixin/color.scss";

* {
    border: none;
    box-sizing: border-box;
    color: $vui-color-black;
    font-family: Verdana;
    font-size: 1rem;
    line-height: 1rem;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
}

body {
    background-color: rgba($vui-color-grey, .2);
    padding: 1rem;
}

h1, h2, h3, h4, h5 {
    font-size: 1.5rem;
}

h1 {
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1.1rem;
}

a {
    color: $vui-color-blue;
}
