@import "@/scss/import.scss";

@mixin col($classname) {
    @for $i from 1 through 12 {
        &.#{$classname}--#{$i} {
            > .vui-grid-unit:not([class*="vui-grid-unit-col--"]) {
                flex: 1 1 calc(100 / $i) * 1%;
            }
        }
    }
}

.vui-grid {
    display: flex;
    flex-wrap: wrap;
}


@media (min-width: 576px) {
    .vui-grid {
        @include col('vui-grid--col-xs');
    }
}

@media (min-width: 768px) {
    .vui-grid {
        @include col('vui-grid--col-sm');
    }
}

@media (min-width: 992px) {
    .vui-grid {
        @include col('vui-grid--col-md');
    }
}

@media(min-width: 1200px) {
    .vui-grid {
        @include col('vui-grid--col-xl');
    }
}

@media(min-width: 1400px) {
    .vui-grid {
        @include col('vui-grid--col-xxl');
    }
}
