@import "@/scss/import.scss";

.vui-tabs {
    .vui-tabs-tabs {
        display: flex;
        padding: .5rem 0;

        .vui-tabs-tabs-tab {
            position: relative;
            padding: .5rem;
            border: 1px solid $vui-color-grey-light;
            cursor: pointer;

            &:not(:first-of-type) {
                margin-left: 1rem;
            }
            &.vui-tabs-tabs-tab--with-icon {
                .label {
                    padding-left: 2rem;
                }
            }
            &.vui-tabs-tabs-tab--active {
                border-color: $vui-color-green;

                .vui-tabs-tabs-tab-icon:before {
                    color: $vui-color-green;
                }
                .label {
                    color: $vui-color-green;
                }
            }

            .vui-tabs-tabs-tab-icon {
                position: absolute;
                top: .5rem;
                left: .75rem;
                font-size: 1.1rem;
                margin-right: .75rem;

                &:before {
                    color: $vui-color-grey-dark;
                }
            }
        }
    }

    .vui-tabs-slots {
        padding: 1rem;
        border: 1px solid $vui-color-grey-light;
    }
}
